@use '../../shared/ui/styles/buttons' as *;

.tutor-admin-container {
    box-sizing: border-box;
    padding: 25px 40px;
    background: rgb(154, 29, 137);
    background: linear-gradient(180deg, rgba(154, 29, 137, 1) 0%, rgba(52, 10, 46, 1) 100%);
    height: 100vh;

    .tutor-admin {
        color: #fff;
        box-sizing: border-box;
        width: 100%;
        background: rgb(179, 114, 168);
        background: linear-gradient(180deg, rgba(179, 114, 168, 1) 0%, rgba(113, 41, 101, 1) 100%);
        padding: 20px 30px;
        border-radius: 45px;

        display: grid;
        grid-template-columns: 34% 64%;
        gap: 2%;

        .tutor-list-container {
            box-sizing: border-box;

            h2 {
                font-weight: 700;
                font-size: 32px;
                margin-bottom: 10px;
            }

            .tutor-list-wrapper {
                box-sizing: border-box;
                background-color: #EADCE8;
                border-radius: 45px;
                padding: 25px 25px;


                .tutor-list {
                    box-sizing: border-box;
                    border-radius: 30px;
                    height: 745px;
                    overflow-y: auto;

                    .tutor-list-item {
                        box-sizing: border-box;
                        background-color: #fff;
                        border-radius: 30px;
                        padding: 20px 35px;
                        color: #000;
                        display: flex;
                        gap: 3%;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        font-size: 24px;
                        font-weight: 400;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .btn-more-admin {
                            box-sizing: border-box;
                            font-family: "Jura", sans-serif;
                            color: #fff;
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 10px 15px;
                            background-color: #C123AB;
                            transition: all 500ms ease;

                            &:hover {
                                cursor: pointer;
                                background-color: rgba(156, 32, 139, 1);
                            }
                        }

                    }
                }

                .btn-wrapper {
                    display: flex;
                    justify-content: right;

                    .btn-add-tutor {
                        @include button-default;
                        border-radius: 45px;
                        box-shadow: none;
                    }

                }
            }
        }

        .tutor-admin-info-container {
            h2 {
                font-weight: 700;
                font-size: 32px;
                margin-bottom: 10px;
            }

            form {
                position: relative;
                box-sizing: border-box;
                background-color: #EADCE8;
                border-radius: 45px;
                height: 830px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                label {
                    box-sizing: border-box;
                    color: #000;
                    font-size: 20px;
                    margin: 5px;
                }

                input {
                    box-sizing: border-box;
                    font-family: "Jura", sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    text-align: center;
                    padding: 10px 70px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    margin-bottom: 25px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .btn-save {
                    position: absolute;
                    bottom: 25px;
                    right: 25px;

                    @include button-default;
                    border-radius: 45px;
                    box-shadow: none;
                }
            }
        }
    }
}